
body {
    direction: rtl;
    z-index: -1;

}

.singleservicediv>div {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
}

.singleservicediv>div:last-child {
    margin-bottom: 0;
}

/* Add any additional CSS styles here */

.details {
    margin-top: 0;
}

.oneimage {
    
    width: 500px;
    opacity: 30%;
}
.image{
     margin-top: 0%;
     margin-left:10%;
     position: absolute;
     margin-right: 10%!important
     
}
.singleservicediv {
    width: 50%;
    height: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: black;
}

